body{background-color:darkkhaki;}
.parent{
  background-color: darkkhaki;
  width:800px;
  margin: auto;
  padding: 10px;
}

.parent-height {
  height: 500px;
}

.child{
  width: 60px;
  height: 60px;
  background:midnightblue;
}
.special {
  background-color: orangered;
}
.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.row-reverse {
  display: flex;
  gap: 10px;
  flex-direction: row-reverse;
}

.column-reverse {
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;
}
.child {
  width: 50px;
  height: 60px;
  background: lightyellow;
  color: Darkolivegreen; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: Arial;
  font-size: 38px;
}

.parent {
  background-color: darkkhaki;
  width: 700px;
  margin: auto;
  padding: 10px;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px; 
  background-color: darkkhaki; 
  padding: 10px;
  width: 700px; 
  margin: auto; 
}

.flower {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.flower img {
  width: 100%; 
  height: auto; 
}
.flower img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.flower:hover {
  object-fit: cover;
  transition: ease 0.3s;
  transform-origin: center;
  transform: scale(1.5);
}