/* Basic Body Styling */
body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.hello-goodbye{
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
width:1300px;
padding:29px;
text-align:center;



}

.hello-goodbye h2{
margin:0px;
color:white;
font-weight:normal;
font-style:Arial;
display: flex;
display: grid;
  place-items: center; 

}

.hello-goodbye #goodbye{
display:none;
}

.hello-goodbye:hover #goodbye{
display:block;
}

.hello-goodbye:hover #hello{
display:none;

}

/* Image hover styling */
.image-hover {
  width: 300px;
  height: 600px;
  margin: 20px auto;
  border: 5px solid #0000;
  border-radius: 10px;
  background-image: url('https://i.etsystatic.com/33708229/r/il/a109bb/3727277343/il_570xN.3727277343_7g8z.jpg');
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

.image-hover:hover {
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTA1L2hpcHBvdW5pY29ybl9iZWFjaF93aXRoX2xlYWZfcGxhbnRfc2hhZG93X2JlYWNoX3dhbGxwYXBlcl9iYWNrZ180ZjA1YzBlMy0zZWI0LTRmYjYtYjMzYS1iNGM5YjIyYmVlNjZfMS5qcGc.jpg');
}
.container {
border: 6px solid #556B2F;
padding: 40px;
margin: 10px;
text-align: left;
font-family:arial;
width: 92%;
  margin-left: 10px;
}
