height: 100px; 
border-radius: 50%; 
line-height: 100px; 
color: white; 
font-weight: bold;
margin: 10px; 
}

.yes {
background-color: violet; 
}
.yes:hover {background-color: red;
width: 120px; 
height: 120px; 
transition: 0.3s ease;}

.no {
background-color: violet; 
}
.no:hover {
background-color: green;
width: 120px; 
height: 120px; 
transition: 0.3s ease;}