body {
    background-color: lightyellow;
  }
  h1 { color: goldenrod;
    font size:30;
    text-transform: uppercase;
    font-family: Arial; 
  }
  
  h5 {font-family:arial;
  color: saddlebrown}
  
  h2{font-family:arial;
  color: goldenrod}
  p {font-family:arial;}
  p {font-family:arial;}
  
  h2{font-family:arial
  color:golden rod}
  body {font-family:arial;}
  
  
  
  